<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Developers</h5>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="/assets/reihan.jpg"
                      alt="card image"
                    />
                  </p>
                  <br />
                  <h4 class="card-title">Made Reihan</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Made Reihan Diva Suarna</h4>
                  <br />
                  <p class="card-text">Nim : 00000044540</p>
                  <p class="card-text">Jurusan : Informatika</p>
                  <p class="card-text">Angkatan : 2020</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="/assets/christian.jpeg"
                      alt="card image"
                    />
                  </p>
                  <br />
                  <h4 class="card-title">Christian Teguh</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Christian Teguh Prasetya Widjaja</h4>
                  <br />
                  <p class="card-text">Nim : 00000032062</p>
                  <p class="card-text">Jurusan : Informatika</p>
                  <p class="card-text">Angkatan :</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="/assets/kevin.jpeg"
                      alt="card image"
                    />
                  </p>
                  <br />
                  <h4 class="card-title">Vincentius Kevin</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Vincentius Kevin Susanto</h4>
                  <br />
                  <p class="card-text">Nim : 00000043551</p>
                  <p class="card-text">Jurusan : Informatika</p>
                  <p class="card-text">Angkatan : 2020</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="/assets/billy.jpeg"
                      alt="card image"
                    />
                  </p>
                  <br />
                  <h4 class="card-title">Ethan Billy</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Ethan Billy Gunawan</h4>
                  <br />
                  <p class="card-text">Nim : 00000029127</p>
                  <p class="card-text">Jurusan : Informatika</p>
                  <p class="card-text">Angkatan :</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
